@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--b1);
    --foreground: var(--bc);

    --card: var(--b1);
    --card-foreground: var(--bc);

    --popover: var(--b1);
    --popover-foreground: var(--bc);

    --primary: var(--p);
    --primary-foreground: var(--pc);

    --secondary: var(--s);
    --secondary-foreground: var(--sc);

    --muted: var(--n);
    --muted-foreground: var(--nc);

    --accent: var(--a);
    --accent-foreground: var(--ac);

    --info: var(--in);
    --info-foreground: var(--inc);

    --success: var(--su);
    --success-foreground: var(--suc);

    --destructive: var(--er);
    --destructive-foreground: var(--erc);

    --warning: var(--wa);
    --warning-foreground: var(--wac);

    --border: var(--b2);
    --input: var(--b2);
    --ring: var(--p);

    --radius: 0.5rem;
  }

  /* .dark {
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
